NODE_ENV=development
NODE_PORT=1337
PARSE_SERVER_DATABASE_URI='mongodb://localhost:27017/parseServer?retryWrites=true&w=majority&connectTimeoutMS=10000'
PARSE_SERVER_URL="http://localhost:1337/parse"
PARSE_SERVER_APPLICATION_ID="myAppId"
PARSE_SERVER_MASTER_KEY="myMasterKey"
PARSE_SERVER_CLIENT_KEY="myClientKey"
PARSE_SERVER_JAVASCRIPT_KEY="myJavascriptKey"
PARSE_SERVER_FILE_KEY="myFileKey"
PARSE_SERVER_APP_NAME="Sample-App"
PARSE_SERVER_USER="myUser"
PARSE_SERVER_PASSWORD="myPassword"
PARSE_SERVER_PASSWORD="$2b$10$cPxcMMZvc3t6Bc1TXJerQ.qKkOu5mmzSLsVJS2ZSLFUzabb15pbqG"
# Example: CORS_WHITELIST="https://app.example.com,https://admin.example.com"
CORS_WHITELIST=""
